extends ../_app.jade

block append config
  -
    var help = {
      breadcrumbs: [
        {
          url: '/help',
          title: 'Help',
        }
      ],
      pageheader: 'Tutorials and help'
    };

    app.title = 'Help - ' + app.title;
    app.activeNav = '/help';

  block help-config

  -
    app.borderedNav = !help.pageheader;

block content
  if help.pageheader
    div.app-pageheader
      div.container
        h1= help.pageheader

  div.container
    if help.breadcrumbs
      ol.breadcrumb(class= !help.pageheader ? 'm-t-2' : '')
        block breadcrumbs
          - var activeCrumb = help.breadcrumbs.pop();
          each breadcrumb in help.breadcrumbs
            li #[a(href= breadcrumb.url)= breadcrumb.title]
          li.active= activeCrumb.title

    block help-content
