table.download-table {
  td a {
    white-space: nowrap;

    + a {
      margin-left: .75rem;
    }

    .icon {
      margin-right: .25rem;
    }
  }

  tr:first-child td {
    border-top: none;
  }
}
