.handbook-index {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }

  + h2 {
    margin-top: ($spacer * 2);
  }
}

.handbook-article-link {
  width: 10rem;
  min-height: 9.625rem;
  padding: .5rem;
  margin: .5rem;
  align-items: center;
  justify-content: center;
  transition:
    transform .25s ease,
    box-shadow .5s ease;

  @include plain-hover-focus {
    color: $body-color;
    text-decoration: none;
  }

  @include hover-focus {
    transform: translateY(-.0725rem) scale(1.015);
    box-shadow: 0 .25rem .5rem rgba($black, 0.25);
    z-index: 1000;
  }

  .card-img-top {
    width: 5rem;
    max-width: 100%;

    &.icon {
      height: auto;
      vertical-align: middle;
    }

    + .card-body {
      margin-top: .5rem;
      align-items: flex-start;
    }
  }

  .card-body {
    flex: 0;
    padding: 0;

    > p {
      text-align: center;
    }
  }
}

.handbook-index-sm {
  margin-left: -.25rem;
  margin-right: -.25rem;

  .handbook-article-link {
    width: 7.5rem;
    min-height: 7rem;
    margin: .25rem;

    .card-img-top {
      width: 2.75rem;
    }
  }
}

.handbook-content {
  overflow: hidden;
}

.handbook-infobox {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  .card-header {
    width: 100%;
    text-align: center;
  }

  .card-img-top {
    width: 4rem;
    max-width: 100%;
    margin: .5rem 0;

    + .card-body {
      margin-top: .5rem;
    }
  }

  .table {
    margin-bottom: 0;

    th,
    td {
      padding: .5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    float: none;
    margin-left: 0;
  }
}

.wc3-icon {
  clip-path: ellipse(44% 44%);
}
