// Variables
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #36393f;
$gray-800: #26262b;
$gray-900: #1c1e21;
$black:    #000;

$primary: #dc3545;

$body-bg:        $gray-800;
$body-color:     $gray-300;

$font-family-sans-serif:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-color: $white;

$link-color:       $primary;
$link-hover-color: $link-color;

$hr-border-color:  $gray-900;

$table-accent-bg:     $gray-700;
$table-border-color:  $gray-600;
$table-border-width:  0;

$navbar-padding-y:                   1rem;
$navbar-light-color:                 rgba($white, .75);
$navbar-light-hover-color:           $white;
$navbar-light-active-color:          $white;
$navbar-light-disabled-color:        rgba($white, .3);
$navbar-light-toggler-border-color:  rgba($white, .1);

$card-cap-bg:  $gray-800;
$card-bg:      $gray-900;

$breadcrumb-bg: $gray-700;

$pre-color:      inherit;
$code-color:     $gray-300;
$kbd-bg:         rgba($gray-900, .7);
$kbd-padding-y:  .1rem;
$kbd-padding-x:  .4rem;

$jumbotron-bg:            $gray-800;
$jumbotron-video-bg:      rgba($gray-800, .6);
$zindex-jumbotron-video:  -1010;

$footer-bg:    #222327;
$footer-color: $gray-100;
