extends ../_app

block append config
  -
    app.title = 'About - ' + app.title;

block content
  .container
    h2 Welcome to Warlock
    p.
      Warlock, or Warlock Brawl, is a game concept that has had incarnations spanning multiple platforms. Its most well-known is the #[a(href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne") Warcraft III] map, a mod for the 2003 Blizzard game, which underwent active development for over 6 years. Since July 2014, efforts by the original team to port the mod from this archaic platform to #[a(href="/dota") Dota 2] have been the primary focus for Warlock.
    p.
      As well as modifications of games, Warlock has existed as a #[a(href="/about/standalones.html") myriad of standalone game projects], the majority of which having been started by indie developers inspired by the WC3 map. There is currently an official standalone project in development, lead by original co-creator Adynathos.
    p.text-muted.
      (A more detailed about page is coming soon!)
