extends ../_app

block append config
  -
    app.title = 'Standalone history - ' + app.title;

block content
  .container
    h2 List of Warlock-inspired games
    p.
      Not an exhaustive list: Many of these are only known because their developers came to our forums or discord to mingle.
    .table-responsive
      table.table.table-striped.sortable
        thead
          tr
            th(data-defaultsort="asc") Date
            th Title/developer
            th Engine/language
            th In-house?
            th Active?
            th(data-defaultsort="disabled") Notes
        tbody
          tr
            td 2009-2010
            td N/A (Warlock Arena?)
            td Flash (browser game)
            td No
            td No
            td This one might've vanished off the face of the planet.
          tr
            td 2010
            td Warlocks by Mushy Studios
            td OGRE/C++
            td Yes? (See notes)
            td No
            td This project was not being developed by the original Warlock team, but both were in close communication. It was also one of the more anticipated standalones, having been in development during Warlock's peak (and then setting the bar for standalones to come by dissipating after a couple of months of work.)
          tr
            td 2010
            td MageCraft by Aphotic(?) and Starlocks by nanotapki
            td Mods of Starcraft II
            td No
            td N/A
            td Not standalones.
          tr
            td 2011-01-13 (release)
            td Bloodline Champions by Stunlock Studios
            td XNA
            td No
            td Uh
            td #[strong OK, this one is not inspired Warlock.] The developers have said they never played Warlock prior to starting Bloodline Champions. It did share a lot of the same ideas and concepts as Warlock however and there was some overlap of players.
          tr
            td 2012-07-27
            td Untitled project by jwahlberg
            td Unity
            td No
            td No
            td
          tr
            td 2013-02-21
            td Warlock Brawl by Toraxxx and later Adynathos
            td UDK
            td Yes
            td No
            td Succeeded by an UE4 project by Adynathos with the same goals.
          tr
            td 2013-06-10
            td Untitled project by Quellquun (Only-Entertainment)
            td N/A
            td No
            td N/A
            td
          tr
            td 2013-07-16
            td Cantrips and Cooldowns by dkramer
            td JBox2D
            td No
            td N/A
            td Made in a 2D engine
          tr
            td 2014-04
            td Spellsworn by Frogsong Studios
            td Unreal Engine 4
            td No
            td Yes
            td Had a full 1.0 release on Steam.
          tr
            td 2014-07-27 (release)
            td Prophets by S2 Games/others
            td K2 Engine
            td No
            td N/A
            td Was created as a trailblazer mod for Heroes of Newerth's mod support which was being rolled out at the time. Not a standalone.
          tr
            td 2014-12-11
            td Sorcerer by Aphotic (Team Syntax)
            td N/A
            td No
            td Yes
            td
          tr
            td 2014-12-12
            td RUiN/Blast Out by Tarhead Studios
            td Unity
            td No
            td Yes
            td Available as early access on Steam.
          tr
            td 2015-04-30
            td Untitled project by Papasito
            td C++
            td No
            td N/A
            td
          tr
            td 2015-05-10
            td Warlock Brawl by Adynathos
            td Unreal Engine 4
            td Yes
            td Yes
            td Current version of the Warlock standalone project by the original developers.
          tr
            td 2015-12-12
            td Untitled project by Slence
            td Unity
            td No
            td N/A
            td
          tr
            td 2017-01-04
            td Warlock by mrdewitt77
            td N/A
            td No
            td N/A
            td
          tr
            td 2017-01-11
            td MageQuit by Bowlcut Studios
            td Unity
            td No
            td Yes
            td Available as early access on Steam.
          tr
            td 2017-04-26
            td Corroded by Encircle Games
            td Unity
            td No
            td Yes
            td Available as early access on Steam.
          tr
            td 2018-04-01
            td Circle Brawl by xvzan
            td Unity
            td No
            td Yes
            td Open source (MIT).
          tr
            td 2018-07-04
            td Mage War by 강굴
            td Browser game
            td No
            td Yes
            td
          tr
            td 2018-09-13 (release)
            td Acolyte Fight! by raysplaceinspace
            td Browser game
            td No
            td Yes
            td Made in the style of #[code .io] games.
