extends _manual.jade

block manual-content
  .row
    .col-sm-4
      include index/_d2quickstart.jade
    hr.hidden-sm-up
    .col-sm-4
      include index/_wc3quickstart.jade
    hr.hidden-sm-up
    .col-sm-4
      include index/_howtoplay.jade
    hr.hidden-sm-up
  .row
    .col-sm-6
      include index/_faq.jade
    hr.hidden-sm-up
    .col-sm-6
      include index/_contact.jade
