extends _manual.jade

block manual-content
  .row
    .col-sm-4
      include index/_installation.jade
    hr.hidden-sm-up
    .col-sm-4
      include index/_gameguide.jade
    hr.hidden-sm-up
    .col-sm-4
      include index/_handbook.jade
    hr.hidden-sm-up
  .row
    .col-sm-6
      include index/_faq.jade
    hr.hidden-sm-up
    .col-sm-6
      include index/_contact.jade
