-
  locals.route = function(file) {
    if (!routes[file]) {
      throw new Error(`Invalid route: ${file}`);
    }

    url = routes[file];

    return (url.endsWith('/index') || url === 'index')
      ? '/' + url.slice(0, -5)
      : '/' + url + '.html';
  };

  locals.urlify = function(t) {
    return t.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/-+/g, '-').replace(/^-|-$/, '');
  };
