include ./functions
include ./mixins

block config
  -
    const app = {
      name: 'Warlock Brawl',
      title: 'Warlock Brawl',
      links: {
        steam: 'https://steamcommunity.com/groups/warlockbrawl',
        discord: 'https://discord.gg/pSEUr3T',
        github: 'https://github.com/warlockbrawl',
        forum: 'https://forum.warlockbrawl.com/'
      },
      currentUrl: locals.route(locals.currentRoute),
      borderedNav: !['home', 'download', 'faq'].includes(locals.currentRoute),
      bodyAttrs: {}
    };

    Object.assign(app, locals);

doctype html
html(lang="en")
  head
    block metatags
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="theme-color", content= '#' + app.themeColor)
      title= app.title
      link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic")
  body&attributes(app.bodyAttrs)
    header.navbar.navbar-light.navbar-expand-sm.app-navbar(class= app.borderedNav ? 'app-navbar-bordered' : '')
      .container
        a.navbar-brand(href= app.route('home'))= app.name
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-nav")
          span.navbar-toggler-icon
        #main-nav.collapse.navbar-collapse
          nav.nav.navbar-nav
            a.nav-item.nav-link(class= (app.currentRoute === 'download' ? 'active' : ''), href= app.route('download')) Download
            a.nav-item.nav-link(class= (app.currentRoute === 'faq' ? 'active' : ''), href= app.route('faq')) FAQ
            a.nav-item.nav-link(href= app.links.discord) Discord
            a.nav-item.nav-link(href= app.links.forum) Forum
            a.nav-item.nav-link(class= (app.currentUrl.startsWith('/handbook/') ? 'active' : ''), href= app.route('handbook/home')) #[+icon('book')] Handbook

    main#content.app-content
      block content

    footer#footer.app-footer.p-3.p-md-5.text-muted
      .container
        ul.app-footer-links
          li #[a(href= app.links.steam) Steam]
          li #[a(href= app.links.discord) Discord]
          li #[a(href= app.links.github) GitHub]
          li #[a(href= app.route('about')) About]
        p &copy; 2008&ndash;2019 #{app.name}
