extends _installation

block append manual-config
  -
    manual.breadcrumbs.push({
      title: 'Dota 2 quick start'
    });
    app.title = 'Dota 2 quick start - ' + app.title;

block manual-content
  p.
    
