extends _installation.jade

block append manual-config
  -
    manual.breadcrumbs.push({
      title: 'Warcraft III quick start'
    });
    app.title = 'Warcraft III quick start - ' + app.title;

block manual-content
  p.
    
