extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Blood Sword'
    });
    handbook.pageheader = 'Blood Sword';
    handbook.includedArticle = 'blood_sword.md';
    app.title = 'Blood Sword - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/blood_sword.md
