extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Bouncer'
    });
    handbook.pageheader = 'Bouncer';
    handbook.includedArticle = 'bouncer.md';
    app.title = 'Bouncer - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/bouncer.md
