extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Cursed Pendant'
    });
    handbook.pageheader = 'Cursed Pendant';
    handbook.includedArticle = 'cursed_pendant.md';
    app.title = 'Cursed Pendant - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/cursed_pendant.md
