extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Drain'
    });
    handbook.pageheader = 'Drain';
    handbook.includedArticle = 'drain.md';
    app.title = 'Drain - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/drain.md
