extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Gravity'
    });
    handbook.pageheader = 'Gravity';
    handbook.includedArticle = 'gravity.md';
    app.title = 'Gravity - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/gravity.md
