extends ./templates/layout

block handbook-content
  h2 General topics

  .handbook-index
    a.card.handbook-article-link(href= app.route('handbook/warcraft-3'))
      img.card-img-top(src= require('../../assets/warcraft-iii.svg'), alt="Warcraft III")
      .card-body
        p.card-text Play Warlock in Warcraft III

  h2 Warlock reference
    small.text-muted  (work in progress)

  .handbook-index.handbook-index-sm
    each techtree in app.patch.getAll('techtree')
      a.card.handbook-article-link(href= techtree.handbookUrl.replace('https://www.warlockbrawl.com', ''))
        if techtree.iconUrl
          img.card-img-top.wc3-icon(src= techtree.iconUrl, alt= techtree.name)
        .card-body
          p.card-text= techtree.name
