extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Inventory'
    });
    handbook.pageheader = 'Inventory';
    handbook.includedArticle = 'inventory.md';
    app.title = 'Inventory - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/inventory.md
