extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Lava Treads'
    });
    handbook.pageheader = 'Lava Treads';
    handbook.includedArticle = 'lava_treads.md';
    app.title = 'Lava Treads - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/lava_treads.md
