extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Rush'
    });
    handbook.pageheader = 'Rush';
    handbook.includedArticle = 'rush.md';
    app.title = 'Rush - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/rush.md
