extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Shield'
    });
    handbook.pageheader = 'Shield';
    handbook.includedArticle = 'shield.md';
    app.title = 'Shield - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/shield.md
