extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Splitter'
    });
    handbook.pageheader = 'Splitter';
    handbook.includedArticle = 'splitter.md';
    app.title = 'Splitter - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/splitter.md
