extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Teleport'
    });
    handbook.pageheader = 'Teleport';
    handbook.includedArticle = 'teleport.md';
    app.title = 'Teleport - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/teleport.md
