extends ./templates/layout

block append handbook-config
  -
    handbook.breadcrumbs.push({
      url: app.route('handbook/warcraft-3'),
      title: 'Warcraft III quick start'
    });
    handbook.pageheader = 'Warcraft III quick start';
    app.title = 'Warcraft III quick start - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/warcraft-3.md
