extends ../templates/handbook

block append handbook-config
  -
    handbook.breadcrumbs.push({
      title: 'Warcraft III quick start'
    });
    handbook.breadcrumbs = false;
    handbook.pageheader = 'Warcraft III quick start';
    app.title = 'Warcraft III quick start - ' + app.title;

block handbook-content
  include:markdown-it(html) ../../articles/warcraft-3.md
