extends _installation.jade

block append help-config
  -
    help.breadcrumbs.push({
      title: 'Dota 2 quick start'
    });
    app.title = 'Dota 2 quick start - ' + app.title;

block help-content
  p.
    
