extends ../_app.jade

block append config
  -
    app.title = 'Contact - ' + app.title;

block content
  .container
    h2.mt-2 Team
    .card-deck
        .card.team-card
          .card-block
            h4.card-title Zymoran
            p.card-text Co-creator, game designer.
          .card-block
            a.card-link(data-mail="zymoran warlockbrawl com") Contact
        .card.team-card
          .card-block
            h4.card-title Adynathos
            p.card-text #[em aka Demestotenes.] Co-creator, developer.
          .card-block
            a.card-link(data-mail="adynathos gmail com") Contact
        .card.team-card
          .card-block
            h4.card-title ToraxXx
            p.card-text Dota 2 lead, developer.
          .card-block
            a.card-link(data-mail="toraxxx warlockbrawl com") Contact
        .card.team-card
          .card-block
            h4.card-title sides
            p.card-text Webmaster.
          .card-block
            a.card-link(data-mail="sides warlockbrawl com") Contact
    p.
      You can also catch most of us on the #[a(href= app.links.discord) Discord].
