extends ../_app.jade

block append config
  -
    app.title = 'Contact - ' + app.title;

block content
  .container
    h2.m-t-2 Team
    .row
      .col-sm-3
        strong Zymoran
        em  co-creator, game designer
        p.
          #[a(href="mailto:zymoran@warlockbrawl.com") email]
      .col-sm-3
        strong Adynathos
        em  aka Demestotenes: co-creator, developer
        p.
          #[a(href="mailto:adynathos@warlockbrawl.com") email]
      .col-sm-3
        strong ToraxXx
        em  dota 2 lead, developer
        p.
          #[a(href="mailto:toraxxx@warlockbrawl.com") email]
      .col-sm-3
        strong sides
        em  webmaster
        p.
          #[a(href="mailto:sides@warlockbrawl.com") email]

