extends ./layouts/app

block append config
  -
    app.title = 'About - ' + app.title;

block content
  .container
    h2 About
    p.
      Warlock, or Warlock Brawl, is a game concept that has had incarnations spanning multiple platforms. Its most well known is the #[a(href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne") Warcraft III] map, a mod for the 2003 Blizzard game, which underwent active development for over six years. In 2014, the mod was ported by the original team to #[a(href="/dota/") Dota 2] which was the focus for Warlock for around two years.
    p.
      As well as modifications of other games, Warlock has existed as a #[a(href= app.route('standalones')) myriad of standalone game projects] typically started by indie developers inspired by the WC3 map. There is currently an official standalone project in development, lead by original co-creator Adynathos.
    p.
      Today, while not actively updated, both mod versions will still receive the occasional patch. This is usually done in response to changes on their respective platforms, but new features are sometimes added too. The standalone project is not being actively worked on either, but remains the end goal for Warlock.
    p.text-muted.
      (A more detailed about page is coming soon!)
