extends ./templates/layout

block append config
  -
    app.title = 'Download - ' + app.title;

block content
  mixin download-row(download)
    tr
      td= download.title
      td
        if download.changelog
          a(href= download.changelog)
            +icon('fileAlt').icon-fw
            | Changelog
        if download.direct
          //- if download.link
          //-   a(href= download.link)
          //-     +icon('globe').icon-fw
          a(href= download.direct)
            +icon('download').icon-fw
            = download.link ? download.link : download.direct
        else if download.link
          a(href= download.link)
            +icon('globe').icon-fw
            = download.link

  .app-pageheader
    .container
      h1 Downloads

  .container
    h2 #[+icon('map', 'regular')] Warcraft III maps
    p
      small.text-muted These require Warcraft III to play.

    h4 Stable releases
    .table-responsive
      table.table.table-sm.download-table
        tbody
          +download-row({
            title: '1.02',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.02.w3x'
          })

          +download-row({
            title: '1.01b',
            changelog: app.links.forum + 'd/426-warlock-1-01b-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.01b.w3x'
          })

          +download-row({
            title: '1.01',
            changelog: app.links.forum + 'd/370-warlock-1-01-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.01.w3x'
          })

          +download-row({
            title: '1.00c',
            changelog: app.links.forum + 'd/151-warlock-1-00c-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.00c.w3x'
          })

          +download-row({
            title: '1.00b',
            changelog: app.links.forum + 'd/98-warlock-1-00b-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.00b.w3x'
          })

          +download-row({
            title: '1.00',
            changelog: app.links.forum + 'd/9801-warlock-100-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock1.00.w3x',
          })

          +download-row({
            title: '099c',
            changelog: app.links.forum + 'd/6353-warlock-099c-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock099c.w3x',
          })

          +download-row({
            title: '099b',
            changelog: app.links.forum + 'd/4590-warlock-099b-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock099b.w3m',
          })

          +download-row({
            title: '099',
            changelog: app.links.forum + 'd/3184-warlock-099-released',
            direct: 'https://www.warlockbrawl.com/files/wc3/Warlock099.w3x'
          })

          +download-row({
            title: 'Older...',
            link: app.links.forum + 'd/55-warlock-history'
          })

    h4 Development version test
    p The latest test version works with WC3 Reforged
    .table-responsive
      table.table.table-sm.download-table
        tbody
          +download-row({
            title: '1.03.test12',
            link: 'Warlock1.03test12.w3x',
            direct: '../dist/wc3/test/Warlock1.03test12.w3x',
          })

          +download-row({
            title: '1.03.test11',
            link: 'Warlock1.03test11.w3x',
            direct: '../dist/wc3/test/Warlock1.03test11.w3x',
          })

          +download-row({
            title: '1.03.test10',
            link: 'Warlock1.03test10.w3x',
            direct: '../dist/wc3/test/Warlock1.03test10.w3x',
          })

          +download-row({
            title: '1.03.test09',
            link: 'Warlock1.03test9.w3x',
            direct: '../dist/wc3/test/Warlock1.03test9.w3x',
          })



    h2.mt-3 #[+icon('cog')] Warcraft III tools
    p
      small.text-muted Tools that enable you to change the default hotkeys and create custom arenas.

    .table-responsive
      table.table.table-sm.download-table
        tbody
          +download-row({
            title: 'Warlock Keys',
            direct: 'https://www.warlockbrawl.com/files/wc3/WarlockKeys.zip'
          })

          +download-row({
            title: 'Custom Terrain Editor',
            direct: 'https://www.warlockbrawl.com/files/wc3/CustomTerrainEditor.zip'
          })

    h2.mt-3 Dota 2
    p
      small.text-muted Requires Steam and Dota 2 to play.

    .table-responsive
      table.table.table-sm.download-table
        tbody
          +download-row({
            title: 'Subscribe to the official mod',
            link: 'https://www.warlockbrawl.com/dota/'
          })

