extends _app

block append config
  -
    app.activeNav = '/';

block content
  .jumbotron.jumbotron-fluid.jumbotron-video-container.jumbotron-video-static(data-jumbotron-video="d2warlock")
    .container
      h1= app.name
      p.lead.
        Physics-based arena game concept. #[br]
        Veteran Warcraft 3 map and Dota 2 mod.
      p.lead
        a.btn.btn-primary.btn-lg(href="/dota/", role="button") Play now &raquo;

  .container.mb-5
    h2 Welcome to Warlock
    p.
      Warlock, or Warlock Brawl, is a game concept that has had incarnations spanning multiple platforms. Its most well-known is the #[a(href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne") Warcraft III] map, a mod for the 2003 Blizzard game, which underwent active development for over 6 years. Since July 2014, efforts by the original team to port the mod from this archaic platform to #[a(href="/dota/") Dota 2] have been the primary focus for Warlock.
    p.
      As well as modifications of games, Warlock has existed as a #[a(href="/about/standalones.html") myriad of standalone game projects], the majority of which having been started by indie developers inspired by the WC3 map. There is currently an official standalone project in development, lead by original co-creator Adynathos.

  hr

  .container.text-center.mt-5
    .row
      .col-6
        a.big-circle(href= app.links.steam)
          i.fa.fa-steam.mb-1
          h3 Join our Steam group
      .col-6
        a.big-circle(href= app.links.discord)
          i.fa.fa-comments-o.mb-1
          h3 Chat with us on Discord
