extends app.jade

block content
  div.jumbotron.bg-video-container
    video.bg-video(loop, muted, autoplay, poster="/assets/img/d2warlock.jpg")
      source(src="/assets/img/d2warlock.webm" type="video/webm")
      source(src="/assets/img/d2warlock.mp4" type="video/mp4")
      source(src="/assets/img/d2warlock.ogv" type="video/ogg")
    div.container
      h1= app.name
      p.
        Physics-based arena game concept. #[br]
        Veteran Warcraft 3 map turned Dota 2 mod.
      p
        a.btn.btn-primary.btn-lg(href="/dota", role="button") Play now »

  div.container
    h2 Welcome to Warlock
    p.
      Warlock, or Warlock Brawl, is a game concept that has had incarnations spanning multiple platforms. Its most well-known is the Warcraft III map, a mod for the #[a(href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne") 2003 Blizzard game], which underwent active development for over 6 years. Since July 2014, efforts by the original team to port the mod from this archaic platform to #[a(href="/dota") Dota 2] have been the primary focus for Warlock.
    p.
      As well as modifications of games, Warlock has existed as a myriad of standalone game projects, the majority of which undertaken by unaffiliated indie developers who had been inspired by the WC3 map. You can see a list of #[em known] Warlock-inspired games #[a(href="standalones.html") here]. There is currently an under-the-radar standalone project in development, lead by original co-creator Adynathos.
    h3 As a game
    p.
      In short it's a physics-based arena game.
