extends _app

block append config
  -
    app.activeNav = '/';

block append metatags
  meta(name="description", content= app.description)

block content
  .jumbotron.jumbotron-fluid.jumbotron-video-container.jumbotron-video-static(data-jumbotron-video="d2warlock")
    .container
      h1= app.name
      p.lead.
        Physics-based arena game concept. #[br]
        Veteran Warcraft 3 map and Dota 2 mod.
      p.lead.jumbotron-buttons
        a.btn.btn-primary.btn-lg(href="/dota/", role="button") Play now &raquo;

  .container.mb-5
    h2 Welcome to Warlock
    p.
      Warlock, or Warlock Brawl, is a game concept that has had incarnations spanning multiple platforms. Its most well-known is the #[a(href="/download/") Warcraft III map], a mod for the #[a(href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne") 2003 Blizzard game], which underwent active development for over six years. In 2014, the mod was ported by the original team to #[a(href="/dota/") Dota 2] and was the focus for Warlock for around two years. Today, while not actively updated, both versions will receive the occasional patch, usually in response to changes on their respective platforms.
    p.
      As well as modifications of games, Warlock has existed as a #[a(href="/about/standalones.html") myriad of standalone game projects] typically started by indie developers inspired by the WC3 map. There is currently an official standalone project in development, lead by original co-creator Adynathos.

  hr

  .container.text-center.mt-5
    .row
      .col-6
        a.big-circle(href= app.links.discord)
          .big-circle-icon
            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 291.763 209.832")
              path(fill="currentColor", d="M255.791,26.231C219.819-0.747,185.599,0.002,185.599,0.002l-3.498,3.997c42.466,12.99,62.199,31.724,62.199,31.724c-25.979-14.238-51.458-21.232-75.188-23.98c-17.985-1.999-35.222-1.499-50.458,0.5c-1.499,0-2.748,0.25-4.247,0.5c-8.743,0.749-29.976,3.997-56.704,15.737c-9.243,4.246-14.738,7.244-14.738,7.244S63.698,15.99,108.661,3.001l-2.498-2.998c0,0-34.222-0.75-70.193,26.229c0,0-35.97,65.197-35.97,145.631c0,0,20.982,36.222,76.188,37.969c0,0,9.243-11.24,16.736-20.732C61.2,179.607,49.21,159.623,49.21,159.623s2.498,1.749,6.994,4.246c0.25,0.25,0.5,0.5,1,0.75c0.75,0.499,1.499,0.749,2.248,1.249c6.245,3.497,12.49,6.245,18.235,8.493c10.241,3.996,22.481,7.993,36.72,10.741c18.735,3.497,40.717,4.746,64.697,0.249c11.74-1.998,23.73-5.495,36.222-10.74c8.741-3.248,18.483-7.994,28.727-14.738c0,0-12.49,20.483-45.214,29.727c7.494,9.492,16.487,20.232,16.487,20.232c55.204-1.747,76.438-37.969,76.438-37.969C291.762,91.428,255.791,26.231,255.791,26.231z M99.169,148.631c-13.989,0-25.479-12.489-25.479-27.728c0-15.238,11.241-27.728,25.479-27.728c14.238,0,25.729,12.49,25.479,27.728C124.648,136.142,113.407,148.631,99.169,148.631z M190.345,148.631c-13.989,0-25.479-12.489-25.479-27.728c0-15.238,11.239-27.728,25.479-27.728c14.238,0,25.479,12.49,25.479,27.728C215.824,136.142,204.583,148.631,190.345,148.631z")
          h3 Chat on Discord
      .col-6
        a.big-circle(href= app.links.steam)
          .big-circle-icon
            i.fab.fa-steam-symbol
          h3 Join the Steam group
