h3 #[i.fa.fa-steam] D2 quick start
p.text-justify If you're looking to start playing the Dota 2 version today, check this guide out.
p #[a.btn.btn-secondary(href="/manual/installation/dota-2.html", role="button") View tutorial &raquo;]
