h3 #[i.fa.fa-book] Handbook
p.text-justify Encyclopedia for Warlock: Stats and descriptions for spells, items and more.
p #[a.btn.btn-secondary(href="/manual/handbook", role="button") View articles &raquo;]
