h3 #[i.fa.fa-gamepad] How to play
p.text-justify If you want to learn the basics of how to play the game, check this guide out.
p #[a.btn.btn-secondary(href="/manual/warlock", role="button") View tutorial &raquo;]
