h3 #[i.fa.fa-plug] Installation
p.text-justify Articles on getting started and setting up Warlock in Dota 2 and Warcraft III.
p #[a.btn.btn-secondary(href="/manual/installation", role="button") View articles &raquo;]
