h3 #[i.fa.fa-plug] Installation
p.text-justify All articles relating to installation whether Dota 2 or Warcraft III.
p #[a.btn.btn-secondary(href="/manual/installation", role="button") View articles &raquo;]
