h3 #[i.fa.fa-map] WC3 quick start
p.text-justify If you're looking to set up and start playing classic Warlock in Warcraft III or want to find players to compete against, check this guide out.
p #[a.btn.btn-secondary(href="/manual/installation/warcraft-iii.html", role="button") View tutorial &raquo;]
