extends ../_app

block append config
  -
    app.title = 'Download - ' + app.title;
    app.activeNav = '/download';

block content
  -
    var baseUrl = 'https://www.warlockbrawl.com';

    var releases = [
      {
        title: '1.02',
        direct: baseUrl + '/files/wc3/Warlock1.02.w3x'
      },
      {
        title: '1.01b',
        changelog: app.links.forum + 'd/426-warlock-1-01b-released',
        direct: baseUrl + '/files/wc3/Warlock1.01b.w3x'
      },
      {
        title: '1.01',
        changelog: app.links.forum + 'd/370-warlock-1-01-released',
        direct: baseUrl + '/files/wc3/Warlock1.01.w3x'
      },
      {
        title: '1.00c',
        changelog: app.links.forum + 'd/151-warlock-1-00c-released',
        direct: baseUrl + '/files/wc3/Warlock1.00c.w3x'
      },
      {
        title: '1.00b',
        changelog: app.links.forum + 'd/98-warlock-1-00b-released',
        direct: baseUrl + '/files/wc3/Warlock1.00b.w3x'
      },
      {
        title: '1.00',
        direct: baseUrl + '/files/wc3/Warlock1.00.w3x',
      },
      {
        title: '099c',
        direct: baseUrl + '/files/wc3/Warlock099c.w3x',
      },
      {
        title: '099b',
        direct: baseUrl + '/files/wc3/Warlock099b.w3m',
      },
      {
        title: '099',
        direct: baseUrl + '/files/wc3/Warlock099.w3x'
      },
      {
        title: 'Older...',
        link: app.links.forum + 'd/55-warlock-history'
      }
    ];

    var tools = [
      {
        title: 'Warlock Keys',
        direct: baseUrl + '/files/wc3/WarlockKeys.zip'
      },
      {
        title: 'Custom Terrain Editor',
        direct: baseUrl + '/files/wc3/CustomTerrainEditor.zip'
      }
    ];

  mixin download-row(download)
    tr
      td= download.title
      td
        if download.changelog
          a(href= download.changelog) #[i.fa.fa-file-alt.fa-fw] Changelog
        if download.direct
          if download.link
            a(href= download.link) #[i.fa.fa-globe.fa-fw]
          a(href= download.direct) #[i.fa.fa-download.fa-fw] #{download.link ? download.link : download.direct}
        else if download.link
          a(href= download.link) #[i.fa.fa-globe.fa-fw] #{download.link}

  .app-pageheader
    .container
      h1 Downloads

  .container
    h3 #[i.far.fa-map] Warcraft III maps
    p
      small.text-muted These require #[a(href="/manual/installation/wc3.html") Warcraft III] to play.

    .table-responsive
      table.table.table-sm.download-table
        tbody
          each release in releases
            +download-row(release)

    h3.mt-3 #[i.fa.fa-cog] Warcraft III tools
    p
      small.text-muted Tools that enable you to change the default hotkeys and create custom arenas.

    .table-responsive
      table.table.table-sm.download-table
        tbody
          each tool in tools
            +download-row(tool)

    h3.mt-3 Dota 2

    .table-responsive
      table.table.table-sm.download-table
        tbody
          +download-row({
            title: 'Subscribe to the official mod',
            link: 'https://www.warlockbrawl.com/dota/'
          })

