extends ../_app.jade

block append config
  -
    app.title = 'Download - ' + app.title;
    app.activeNav = '/download';

block content
  -
    var wburl = 'https://www.warlockbrawl.com';

    var releases = [
      {
        title: '1.01b',
        changelog: wburl + '/forums/wc3-general-discussion/warlock-1-01b-released',
        direct: wburl + '/forums/wc3-maps/warlock-1-01b?action=dlattach;attach=354',
        link: wburl + '/forums/wc3-maps/warlock-1-01b'
      },
      {
        title: '1.01',
        changelog: wburl + '/forums/wc3-general-discussion/warlock-1-01-released',
        direct: wburl + '/forums/wc3-maps/warlock-1-01?action=dlattach;attach=338',
        link: wburl + '/forums/wc3-maps/warlock-1-01'
      },
      {
        title: '1.00c',
        changelog: wburl + '/forums/wc3-general-discussion/warlock-1-00c-released',
        direct: wburl + '/forums/wc3-maps/warlock-1-00c?action=dlattach;attach=189',
        link: wburl + '/forums/wc3-maps/warlock-1-00c'
      },
      {
        title: '1.00b',
        changelog: wburl + '/forums/wc3-general-discussion/warlock-1-00b-released',
        direct: wburl + '/forums/wc3-maps/warlock-1-00b?action=dlattach;attach=188',
        link: wburl + '/forums/wc3-maps/warlock-1-00b'
      },
      {
        title: '1.00',
        changelog: wburl + '/archive/post/9201/warlock-100-released',
        direct: wburl + '/forums/wc3-maps/warlock-1-00?action=dlattach;attach=187',
        link: wburl + '/forums/wc3-maps/warlock-1-00'
      },
      {
        title: '099c',
        changelog: wburl + '/archive/post/5753/warlock-099c-released',
        direct: wburl + '/forums/wc3-maps/warlock-099c?action=dlattach;attach=186',
        link: wburl + '/forums/wc3-maps/warlock-099c'
      },
      {
        title: '099b',
        changelog: wburl + '/archive/post/3990/warlock-099b-released',
        direct: wburl + '/forums/wc3-maps/warlock-099b?action=dlattach;attach=185',
        link: wburl + '/forums/wc3-maps/warlock-099b'
      },
      {
        title: '099',
        changelog: wburl + '/archive/post/2584/warlock-099-released',
        direct: wburl + '/forums/wc3-maps/warlock-099?action=dlattach;attach=184',
        link: wburl + '/forums/wc3-maps/warlock-099'
      },
      {
        title: 'Older...',
        link: wburl + '/forums/wc3-general-discussion/warlock-history'
      }
    ];

    var tools = [
      {
        title: 'Warlock Keys',
        direct: wburl + '/forums/wc3-tools/warlock-keys?action=dlattach;attach=182',
        link: wburl + '/forums/wc3-tools/warlock-keys',
      },
      {
        title: 'Custom Terrain Editor',
        direct: wburl + '/forums/wc3-tools/cte-(custom-terrain-editor)?action=dlattach;attach=183',
        link: wburl + '/forums/wc3-tools/cte-(custom-terrain-editor)'
      }
    ];

  mixin download-row(download)
    tr
      td= download.title
      td
        if download.changelog
          a(href= download.changelog) #[i.fa.fa-file-text-o]
        if download.direct
          if download.link
            a(href= download.link) #[i.fa.fa-globe]
          a(href= download.direct) #[i.fa.fa-download] #{download.link ? download.link : download.direct}
        else if download.link
          a(href= download.link) #[i.fa.fa-globe] #{download.link}

  .app-pageheader
    .container
      h1 Downloads

  .container
    .table-responsive
      table.table.table-sm.download-table
        tbody
          tr
            td(colspan="2")
              h3 #[i.fa.fa-map] Warcraft III maps

          each release in releases
            +download-row(release)

          tr
            td(colspan="2")
              h3.mt-5 #[i.fa.fa-wrench] Warcraft III tools

          each tool in tools
            +download-row(tool)

